.botao-primario {
    width: auto; // deixa automático obedecendo o do tamanho do texto
    outline: none; // Outline é muito útil quando se quer remover o comportamento padrão do browser de adicionar uma borda a um elemento quando ele esta selecionado
    border: 0;
    background: #417ec0;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding: 6px 20px;
    border-radius: 3px;
    box-shadow: 0px 0ox 3px 1px #0a0a0a20; // sombra no botão
    transition: 0.3s linear all; 
    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 5px 3px #0a0a0a40;;
    }
    &:disabled {
        cursor: default;
        opacity: 0.7; 
    }
}